*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:black;
}

nav{
    background:pink;
    height: 7rem;
    width: 70%;
    border: 5px solid green;
    border-radius:80%;
    margin: 1rem auto;
}

.container{
    height:6rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: nowrap;
}

.image img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.ul-links{
    display: flex;
    list-style:none;
    gap: 20px;
}

.ul-links li a{
    text-decoration: none;
    font-weight: bolder;
    color: black;

}



.login{
    height: 10px;
    width: 10px;
    background:red;
}